
@media screen and (max-width: 480px) {
    
    *{
        font-size: 24px;

    }


    body{
        font-family:"Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
        font-size: 24px;

        background-color: #eeddbb;
    }

    .wrapper{
        padding: 0;
        margin: 0;
        max-width: 480px;
        width: 90%;
        margin: 0 auto;

    }

    
    input{
        appearance: none;
    }


}

